<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>dev.mxcl.clawlicious</string>
    <key>CFBundleName</key>
    <string>Clawlicious</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>dev.mxcl.clawlicious</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>clawlicious</string>
            </array>
        </dict>
    </array>
    <key>NSAppleEventsUsageDescription</key>
    <string>Clawlicious needs browser automation access to bookmark the current page URL.</string>
</dict>
</plist>
